body {
  background-color: #1e202b;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: #009ad8;
  position: relative;
}

nav .navbar-nav .nav-link.active::after,
nav .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  border: 2px solid #009ad8;
  width: 110px;
  height: 30px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

nav .navbar-nav .nav-link:hover {
  color: #009ad8;
}

nav .navbar-img {
  width: 70px;
}

nav .nav-link {
  color: #ffffff;
  position: relative;
}

main {
  padding-top: 130px;
}

.box_image img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.container h1 {
  font-size: 16px;
}

.container .text .site-desc {
  font-size: 10px;
  color: rgb(160, 160, 160);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #1e202b;
  color: white;
  border: none;
  border-radius: 50px;
  transition: 0.3s ease;
}

.form-control::placeholder {
  color: rgb(214, 214, 214);
}

.form-control:focus {
  background-color: #1e202b;
  border-color: #4e6280;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.click input {
  padding: 10px;
  width: 100px;
  background-color: #009ad8;
  border: none;
  color: white;
  border-radius: 50px;
}

.click {
  position: absolute;
  bottom: 53%;
  left: 76%;
}

.box {
  border-top: 4px solid rgb(56, 57, 57);
  background-color: rgb(46, 46, 46);
}

.box h1 {
  font-size: 65px;
}

.box2 {
  border-top: 4px solid rgb(91, 91, 91);
  background-color: #070f1a;
}

.box3 {
  border-top: 4px solid rgb(57, 73, 77);
  background-color: #323232;
}

.box .head,
.box2 .head,
.box3 .head {
  padding: 5px;
  color: white;
  background-color: rgba(28, 27, 26, 0.762);
  text-align: center;
}

.box2 h1,
.box3 h1 {
  font-size: 24px;
}

#data {
  bottom: -20%;
}

footer {
  margin-top: 350px;
  background-color: #262936;
  padding: 40px 20px;
}

ul {
  list-style-type: none;
}

li:hover i {
  transition: all 0.3s;
  color: white;
}

footer p {
  color: aliceblue;
  margin-top: 10px;
}
